@import "./reset";
@import "./variables";

@mixin flexCenter($justify, $align, $direction, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

body {
  background: $color-light-cream;
  color: $color-dark-gray;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  background-image: url(../img/cream-texture.jpg);
  background-position: center;
  padding-bottom: 2rem;

  @include flexCenter(center, center, column, 2rem);
}

.container {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  margin-top: 10rem;
  text-align: center;
  font-family: "Cormorant Garamond", serif;

  & img {
    width: 10rem;
  }

  & h1 {
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.05rem;
  }

  & p {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
  }
}

.main {
  width: 100%;
  background: $color-green;
  color: $color-cream;
  font-family: "Cormorant Garamond", serif;

  #{&}__start {
    background-image: url(../img/cut-out-top.png);
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 5rem;
  }

  #{&}__end {
    background-image: url(../img/cut-out-bottom.png);
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 5rem;
  }

  & .container {
    padding: 1.5rem 0;

    & p {
      font-size: 1.2rem;
      font-weight: 500;
      color: $color-white;
      letter-spacing: 0.05rem;
      line-height: 1.5rem;
    }
  }

  & h2 {
    width: 100%;
    text-align: center;
    letter-spacing: 0.05rem;
  }

  & p {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    margin-top: 1.5rem;
  }

  & p:first-child {
    text-indent: 4rem;
    margin-top: 0;
  }
}

.footer {
  @include flexCenter(center, center, row, 1rem);
  width: 100vw;
  padding: 1rem 0;

  & a {
    text-decoration: none;
    color: $color-dark-gray;
    margin-right: 1rem;
  }

  & a:last-child {
    margin-right: 0;
  }
}
